@import  '../style/variables';

.header{
    max-width: 100%;
    box-shadow: 5px 5px 20px $white-color;
    background: $white-color;
  }
  
  .top-nav-row div{
    display: inline-block;
  }

  .brand-container{
    margin-left: 20%;
    margin-right: 0%;
    text-align: left;
    align-items: center;
    padding: 0.8em;
    width: 260px;
  }

  .image-container{
    width: 100%;
  }

  .image-container img {
    width: 234px;
    height: 100px;
    object-fit: contain;
  }
  
  .menu-options{
    margin-left: 5%;
    margin-right: 0%;
    text-align: left;
    align-items: center;
    padding: 0.8em;
    width: 40%;


    white-space: nowrap;
    overflow: hidden;
    color: $black-color;
  }

  .options{
    padding: 27px 0;
    width: 100%;
    align-items: center;
  }

  .options h2{
    display: inline-block;
    margin: 1%;
  }
  
  .options a{
    text-decoration: none;
    color: $black-color;
  }
    
  .user-icon{
    margin-right: 0.4em;
    padding: 0.2em;
    font-size: $icon-font;
  }




 